<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count User</title>
</head>

<body>
    <h1>User Count : <%= count %>
    </h1>
    <a href="/user">
        <button>Let Join Us</button>
    </a>
</body>

</html>