<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show Post in Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Here your post in details</h1>
    <div class="container">
        <p>Post id:<%=post.id%>
        </p>
        <h3>@<%=post.username%>
        </h3>
        <p>
            <%=post.content%>
        </p>
    </div>
    <br><br>
    <a href="/posts">back</a>
</body>

</html>